#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}


a {
  color: teal;
}

.nav {
  margin-right: 1em;
  display: flex;
}

.card {
  padding: 2em;
}


h4 {
  font-size: 3vmin;
  text-shadow: -.5px .5px black;
}

.fireText {
  color: orange;
  text-shadow: -.5px .5px black;
}

.textGeneral {
  font-size: 1.5vmin;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
