#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1vmin;
  text-align: center;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
  background-color: rgb(46, 46, 46);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 5px;
}

.nav:hover {
  color: rgb(250, 195, 128);
}

.navLine {
  display: inline;
}

.navLink {
  display: inline;
  color: blanchedalmond;
}

.navImage {
  max-width: 6min;
  max-height: 8vmin;
  margin: 2vmin;
  border-radius: 30%;
}

a {
  color: blanchedalmond;
  padding: 2vmin;
  font-size: 2.5vmin;
  text-decoration: none;
}

a:hover {
  color: orange;
  transform: scale(103%);
  transition: ease-in 173ms;
}

a:visited {
  color: bisque;
}

a:active {
  color: orange;
}

input {
  margin: 1vmin;
  border-radius: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width:max-content;
}

.dropdown {
  margin: 1vmin;
  border-radius: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width:max-content;
}

label {
  margin: 1.5vmin;
}

.card {
  padding: 3vmin;
  background-color: rgb(62, 62, 62);
  border: 2px solid blanchedalmond;
  margin: 4.2vmin;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 -.5px .5px whitesmoke, 0 0 -1px 1px black;
  text-overflow: wrap;
  width: 73vmin;
}

.card:hover {
  background-color: rgb(73, 73, 73);
  transition: ease-in 142ms;
}

.commentCard {
  padding: 3vmin;
  margin: 2.5vmin;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-overflow: wrap;
  text-shadow: -.25px .25px black;
  border: 1px solid blanchedalmond;
  background-color: rgba(255, 235, 205, .10);
}

.commentCard:hover {
  color: rgb(255, 215, 165);
}

.fireText {
  color: orange;
  text-shadow: -.5px .5px black;
  margin: .42vmin;
}

.deleteText {
  color: crimson;
  text-shadow: -.5px .5px black;
  margin: .5vmin;
}

h4 {
  font-size: 4vmin;
  text-shadow: -.5px .5px black;
}

h5 {
  font-size: 3vmin;
  text-shadow: -.5px .5px black;
}

h6 {
  font-size: 2vmin;
  text-shadow: -.5px .5px black;

}

.headerText {
  color: blanchedalmond;
  text-shadow: -.5px .5px black;
  font-size: 3vmin;
}

.subHeaderText {
  color: whitesmoke;
  text-shadow: -.5px .5px black;
  text-align: center;
  margin-top: -1px;
}

.textGeneral {
  font-size: 2.5vmin;
}

.flameImg {
  max-width: 6min;
  max-height: 8vmin;
  margin: 2vmin;
  border-radius: 30%;
}

.coolImg {
  max-width: 5vmin;
  max-height: 5vmin;
  margin: 2vmin;
  border-radius: 30%;
}

.flameImg:hover {
  transform: scale(105%);
  transition: ease-in 142ms;
  opacity: 86%;
  cursor: pointer;
}

.coolImg:hover {
  transform: scale(105%);
  transition: ease-in 142ms;
  opacity: 86%;
  cursor: pointer;
}

.endeavorImage {
  max-width: 300px;
  max-height: 300px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 -.25px .25px whitesmoke, 0 0 -.5px .5px black;
}

.fireButtonContainer {
  border-radius: 5px;
  padding: .25vmin;
}

.commentTable {
  border: 1px solid orange;
  border-radius: 5px;
}

tr {
  margin: 1vmin;
}

.tH {
  color: orange;
  text-shadow: -.5px .5px black;
  margin: 1vmin;
  margin-left: 6.66vmin;
  margin-right: 6.66vmin;
  border-radius: 5px;
  display: inline-table;
  padding: .5vmin;
  font-size: 2.5vmin;
}

.tD {
  border: 1px solid orange;
  background-color: whitesmoke;
  color: rgb(46, 46, 46);
  margin: .5vmin;
  border-radius: 5px;
  display: inline-table;
  padding: .73vmin;
  font-size: 2vmin;
}

.newComment {
  border-radius: 5px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button {
  border-radius: 5px;
  width: fit-content;
  background-color: whitesmoke;
  color: rgb(143, 93, 0);
  border: 1px solid rgb(165, 107, 0);
  font-size: 2.5vmin;
  margin: 1vmin;
  cursor: pointer;
}

.button:hover {
  transform: scale(102%);
  transition: ease-in 142ms;
  background-color: orange;
  color: whitesmoke;
}

.editButton {
  border-radius: 5px;
  width: fit-content;
  background-color: dodgerblue;
  color: whitesmoke;
  border: 1px solid navy;
  font-size: 2.5vmin;
  margin: 1vmin;
  cursor: pointer;
}

.editButton:hover {
  transform: scale(102%);
  transition: ease-in 142ms;
  background-color: whitesmoke;
  color: dodgerblue;
}

.bailButton {
  border-radius: 5px;
  width: fit-content;
  background-color: orange;
  color: whitesmoke;
  border: 1px solid darkorange;
  font-size: 2.5vmin;
  margin: 1vmin;
  cursor: pointer;
}

.bailButton:hover {
  transform: scale(102%);
  transition: ease-in 142ms;
  background-color: whitesmoke;
  color: orange;
}

.delButton {
  border-radius: 5px;
  width: fit-content;
  background-color: firebrick;
  color: whitesmoke;
  border: 1px solid rgb(108, 10, 10);
  font-size: 2.5vmin;
  margin: 1vmin;
  cursor: pointer;
}

.delButton:hover {
  transform: scale(102%);
  transition: ease-in 142ms;
  background-color: whitesmoke;
  color: crimson;
}

.footer {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

.footerLink {
  font-size: 2vmin;
}